@keyframes shake {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(-8deg);
    }

    50% {
        transform: rotateZ(0);
    }

    75% {
        transform: rotateZ(8deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes scaleup {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}