:root {
    --bg-color: rgba(0, 0, 0, 0.7);
    --main-color: #f9ec31;
}

body {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

